In [1]:
import pandas as pd

In [2]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\lenovo\anaconda3\lib\site-packages (1.1.2)

In [3]:
from apyori import apriori

In [4]:
df = pd.read_csv('groceries_data.csv', header = None)

In [5]:
df.head()

         0        1         2         3
0    leite  cerveja       pao  manteiga
1     cafe      pao  manteiga       NaN
2     cafe      pao  manteiga       NaN
3    leite     cafe       pao  manteiga
4  cerveja      NaN       NaN       NaN

In [6]:
df.tail()

          0       1    2    3
5  manteiga     NaN  NaN  NaN
6       pao     NaN  NaN  NaN
7    feijao     NaN  NaN  NaN
8     arroz  feijao  NaN  NaN
9     arroz     NaN  NaN  NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
 1   1       5 non-null      object
 2   2       4 non-null      object
 3   3       2 non-null      object
dtypes: object(4)
memory usage: 448.0+ bytes

In [8]:
df.sample()

       0    1    2    3
9  arroz  NaN  NaN  NaN

In [9]:
df.describe()

           0    1    2         3
count     10    5    4         2
unique     7    4    2         1
top     cafe  pao  pao  manteiga
freq       2    2    2         2

In [19]:
# Dicionario contendo os itens 
df.values

array([['leite', 'cerveja', 'pao', 'manteiga'],
       ['cafe', 'pao', 'manteiga', nan],
       ['cafe', 'pao', 'manteiga', nan],
       ['leite', 'cafe', 'pao', 'manteiga'],
       ['cerveja', nan, nan, nan],
       ['manteiga', nan, nan, nan],
       ['pao', nan, nan, nan],
       ['feijao', nan, nan, nan],
       ['arroz', 'feijao', nan, nan],
       ['arroz', nan, nan, nan]], dtype=object)

In [10]:
# É criado uma lista vazia chamada transacoes para que seja alocado os itens do DataFrame
# através dos indices gerados pelo "for" no range 0,10 é utilizado o método .append (para acrescentar)
# para que seja incluido na lista vazia os itens. É essencial que os dados dessa lista seja uma string
# O primeiro for é para acessar a linha que contém os itens e o segundo para criar os indices para as
# colunas que são a quantidade de itens que compõe essa lista
transacoes = []
for i in range(0,10):
    transacoes.append([str(df.values[i,j]) 
                       for j in range(0,4)])

In [11]:
# Chamamos "apriori" da biblioteca apyori e colocamos alguns parâemtros para o estudo
# no primeiro parâmetro usamos a lista criada transacoes, min_support (que realiza uma contagem simpes dos itens)
# min_confidence (seria a confiança mínima na qual um % de compras, por exemplo, favorece a aquisição de outro produto)
# lift: coeficiente de interesse serve para avaliar as dependências entre o antecedente e o consequente da regra
# A sua variação está entre 0 e infinito. A sua leitura é bem simples quanto > o lift mais interessante é a regra,
# pois maior é a depepência ente os itens que a constituem.
# min_lenght é a quantidade de produtos em cada cesta. Aqui eu limito para mostrar apenas a cesta que contém dois produtos
# a serem estudados
# lift abaixo de um chama-se desassociação, ou seja, quem compra um produto A e B não compra C
regras = apriori(transacoes, min_support = 0.1, min_confidence = 0.8, min_lift = 2, min_lenght = 2)

In [12]:
resultados = list(regras)
resultados

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'leite'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'leite'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'leite', 'cafe'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leite', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'leite', 'cafe'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leite', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'nan', 'manteiga', 'cafe'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'nan', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'nan', 'pao', 'cafe'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'nan', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cerveja', 'manteiga', 'leite'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cerveja', 'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga'}), items_add=frozenset({'leite'}), confidence=1.0, lift=5.0)]),
 RelationRecord(items=frozenset({'cerveja', 'pao', 'leite'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cerveja', 'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cerveja', 'pao'}), items_add=frozenset({'leite'}), confidence=1.0, lift=5.0)]),
 RelationRecord(items=frozenset({'cerveja', 'manteiga', 'pao'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cerveja', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'pao', 'leite'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leite'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'manteiga', 'leite', 'cafe'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leite', 'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'leite', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'leite', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'nan', 'manteiga', 'pao', 'cafe'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'nan', 'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'nan', 'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'nan', 'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'nan', 'manteiga', 'pao'}), items_add=frozenset({'cafe'}), confidence=1.0, lift=3.3333333333333335)]),
 RelationRecord(items=frozenset({'cerveja', 'manteiga', 'pao', 'leite'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cerveja', 'leite'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga'}), items_add=frozenset({'pao', 'leite'}), confidence=1.0, lift=5.0), OrderedStatistic(items_base=frozenset({'cerveja', 'pao'}), items_add=frozenset({'manteiga', 'leite'}), confidence=1.0, lift=5.0), OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga', 'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cerveja', 'pao', 'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga', 'pao'}), items_add=frozenset({'leite'}), confidence=1.0, lift=5.0)])]

In [13]:
resultados2 = [list(x) for x in resultados]
resultados2

[[frozenset({'cafe', 'manteiga'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'leite', 'manteiga'}),
  0.2,
  [OrderedStatistic(items_base=frozenset({'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'leite', 'pao'}),
  0.2,
  [OrderedStatistic(items_base=frozenset({'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'leite', 'manteiga'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'leite', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'leite', 'pao'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'leite', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'manteiga', 'nan'}),
  0.2,
  [OrderedStatistic(items_base=frozenset({'nan', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'manteiga', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
   OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'nan', 'pao'}),
  0.2,
  [OrderedStatistic(items_base=frozenset({'nan', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cerveja', 'leite', 'manteiga'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'cerveja', 'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga'}), items_add=frozenset({'leite'}), confidence=1.0, lift=5.0)]],
 [frozenset({'cerveja', 'leite', 'pao'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'cerveja', 'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'pao'}), items_add=frozenset({'leite'}), confidence=1.0, lift=5.0)]],
 [frozenset({'cerveja', 'manteiga', 'pao'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'leite', 'manteiga', 'pao'}),
  0.2,
  [OrderedStatistic(items_base=frozenset({'leite'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
   OrderedStatistic(items_base=frozenset({'manteiga', 'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'pao', 'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'leite', 'manteiga', 'pao'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'leite', 'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
   OrderedStatistic(items_base=frozenset({'manteiga', 'leite', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'pao', 'leite', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'manteiga', 'nan', 'pao'}),
  0.2,
  [OrderedStatistic(items_base=frozenset({'nan', 'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
   OrderedStatistic(items_base=frozenset({'nan', 'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'nan', 'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'nan', 'manteiga', 'pao'}), items_add=frozenset({'cafe'}), confidence=1.0, lift=3.3333333333333335)]],
 [frozenset({'cerveja', 'leite', 'manteiga', 'pao'}),
  0.1,
  [OrderedStatistic(items_base=frozenset({'cerveja', 'leite'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
   OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga'}), items_add=frozenset({'pao', 'leite'}), confidence=1.0, lift=5.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'pao'}), items_add=frozenset({'manteiga', 'leite'}), confidence=1.0, lift=5.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga', 'leite'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'pao', 'leite'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cerveja', 'manteiga', 'pao'}), items_add=frozenset({'leite'}), confidence=1.0, lift=5.0)]]]

In [14]:
resultadoFormatado = []
for j in range(0, 3):
    resultadoFormatado.append([list(x) for x in resultados2[j][2]])
resultadoFormatado

[[[frozenset({'cafe'}), frozenset({'manteiga'}), 1.0, 2.0]],
 [[frozenset({'cafe'}), frozenset({'pao'}), 1.0, 2.0]],
 [[frozenset({'leite'}), frozenset({'manteiga'}), 1.0, 2.0]]]